
body {
  font-family: "Noto Serif", serif;
  background-color: black;
  color: white;
  padding-top: 50px;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s ease-out forwards;
  color: rgb(42, 157, 185);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-nav .nav-link:hover {
 background-color: #3e515cff;
 transition: 0.3s;
 border-radius:10px;
}


#about {
  background-image: url("../imag/image2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px 0;
  position: relative;
  z-index: 1;
  min-height: 300px;
  border-radius: 10px;
}

#about::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
::selection{
  background-color: #87BAC3;
  color: black;
}

